      ds$stream:
          labels:
            server.name: $stream_name
          container_name: ds$stream
          command: running/$stream.properties
          image: citybench-data-server
          ports:
            - "$ds_port:$ds_port"
          networks:
            - demo
          volumes:
            - ./running/:/usr/local/streamer/running:rw

      tw$stream:
          labels:
            stream.name: $stream
            stream.type: $stream_type
            stream.uuid: $uuid
            stream.run.uuid: $run_uuid
          networks:
            - demo
          container_name: $stream
          command: running/$stream_name.properties
          image: streamreasoning/twcitybench
          ports:
            - "$port:$port"
            - "$ws_port:$ws_port"
          volumes:
            - ./running/:/opt/tw/running:rw
