tw$stream_name:
    labels:
      stream.name: $stream
      stream.type: $stream_type
      stream.uuid: $uuid
      stream.run.uuid: $run_uuid
    container_name: $stream
    command: running/$stream.properties
    image: streamreasoning/twcitybench
    ports:
      - "$port:$port"
      - "$ws_port:$ws_port"
    volumes:
      - ./running/:/opt/tw/running:rw
